.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
}

.todo .content {
	flex: 1 1 100%;
}

.todo.done .content {
	text-decoration: line-through;
}